#downArrow {
    position: absolute;
    margin-top: 42.5%;
    margin-left: 1.25%;
}

#downArrow svg {
    height: 10vw;
}

@media screen and (max-width: 768px) {
    #downArrow svg {
        height: 10vw;
    }
}

@media screen and (max-width: 425px) {
    #downArrow {
        position: absolute;
        margin-top: 100%;
        margin-left: 3%;
    }
    
    #downArrow svg {
        height: 30vw;
    }
}