* {
    font-family: 'Source Code Pro', monospace;
}

#person {
    height: 300px;
    width: auto;
}

#brandStatement {
    font-size: 24px;
    padding: 0 10%;
}

@media screen and (max-width: 1024px) {


    #description {
        height: 50px;
        width: auto;
    }
    #brandStatement {
        font-size: 24px;
    }
    #person {
        height: 50px;
        width: auto;
    }
    h2 {
        font-size: 32px;
    }
}

@media screen and (max-width: 768px) {

    #brandStatement {
        font-size: 12px;
    }
    #person {
        height: 50px;
        width: auto;
    }
    h2 {
        font-size: 32px;
    }
}

@media screen and (max-width: 414px) {
    
    #brandStatement {
        font-size: 12px;
    }
    #person {
        height: 50px;
        width: auto;
    }
    h2 {
        font-size: 32px;
    }
}

@media screen and (max-width: 375px) {
    #brandStatement {
        font-size: 12px;
    }
    #person {
        height: 50px;
        width: auto;
    }
    h2 {
        font-size: 32px;
    }
}