* {
    font-family: 'Source Code Pro', monospace;
}

#brandStatement {
    font-size: 1.5vw;
    padding: 0 10%;
}

.skills p {
    font-size: 1vw;
    padding: 5% 0 0 0;
}

img {
    height: 20vw;
    width: auto;
}

@media screen and (max-width: 440px) {
    #brandStatement {
        font-size: 3vw;
        padding: 0 10%;
        margin-top: -5%;
    }
    
    .skills p {
        font-size: 3vw;
        padding: 5% 0 0 0;
    }
    img {
        height: 50vw;
        width: auto;
    }
}
