* {
    font-family: 'Source Code Pro', monospace;
}

#brandStatement {
    font-size: 1.5vw;
    padding: 0 10%;
}

.skills p {
    font-size: 1vw;
    padding: 5% 0 0 0;
}

#person {
    /* margin-top: 100vh; */
    height: 20vw;
    width: auto;
}

#aboutMe {
    z-index: -1;
}

#animeIcon {
    margin-top: 4vw;
    height: 20vw;
}

@media screen and (max-width: 440px) {
    #brandStatement {
        font-size: 5vw;
        padding: 0 10%;
        /* margin-top: -5%; */

    }
    
    .skills p {
        font-size: 5vw;
        padding: 0 5% 0 5%;
    }
    #person {
        height: 20vh;
        width: auto;
    }
    #animeIcon {
        height: 40vw;
    }
}
